* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1d4d72;
    --text-color: black;
    --heading-color: #333333;
    --border-color: #dddddd;
    --background-color: #ddd;
    --main-max-width: 960px;
    --highlight-color: yellow;
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'PT Serif', serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(--primary-font);
    line-height: 1.6;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    background-color: var(--primary-color);
}

.logo {
    color: #fff;
    font-size: 2rem;
    margin: 0 auto;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #eee;
    color: #000;
}

#menu::before {
    content: "≡";
}

nav {
    margin: 0 auto;
    align-content: center;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

h2 {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    color: var(--text-color);
}

main {
    max-width: var(--main-max-width);
    margin: 0 auto;
}

/* Figure as a card */
.figure-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    /* fixed card height */
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0 2px 12px #0001;
    background-color: #fff;
}

figure h3 {
    font-size: 1.3rem;
    color: var(--primary-color);
}


figure img {
    width: 100%;
    max-width: 300px;
    height: 180px;
    object-fit: cover;
    border: 1px solid var(--border-color);
    margin: 1rem auto 0 auto;
    background: #eee;
}

/* Caption block */
figcaption {
    flex-grow: 1;
    max-height: 120px;
    font-size: 0.8rem;
    text-align: center;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
}

footer {
    background: var(--primary-color);
    color: #e5e5e5;
    padding: 1rem;
    text-align: center;
}

#lastModified {
    color: var(--highlight-color);
    font-weight: bold;
}

